{
	"name" : "AutoDeploy",
	"repository" : "git@git.oschina.net:cnryb/AutoDeploy.git",
	"password" : "password",
	"sshPrivateKey" : "./id_rsa",
	"sshPublicKey" : "./id_rsa.pub",
	"copyFrom" : "",
	"copyTo" : "./",
	"exclude" : {
		"folders" : [".git", ".vscode"],
		"files" : [".gitignore", "readme.md", "tmpRepository\readme.md"]
	},
	"mailConfig" : {
		"serverConfig" : {
			"host" : "smtp.mxhichina.com",
			"port" : 465,
			"secure" : true,
			"auth" : {
				"user" : "notification_deploy@maolukeji.com",
				"pass" : "JHkiob^&098"
			}
		},
		"from" : "自动部署通知 <notification_deploy@maolukeji.com>",
		"to" : "cnryb@vip.qq.com,henudream@qq.com,990483989@qq.com"
	}
}
